<div class="container">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h4 class="center-align">Test Websocket</h4>
                <div class="input-field">
                    <input id="information" type="text" placeholder="wss:// or ws://">
                </div>
            </div>
            <div class="card-action center-align">
                <a class="waves-effect waves-light btn indigo"><i class="material-icons left">link</i>Connect</a>
                <a class="waves-effect waves-light btn indigo"><i class="material-icons left">highlight_off</i>Clean</a>
            </div>
        </div>
    </div>
    <h4>Result:</h4>
    <textarea id="textarea1" class="materialize-textarea"></textarea>
</div>