<div class="container">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h4 class="center-align">Test Websocket</h4>
                <div class="input-field">
                    <input id="information" type="text" placeholder="wss:// or ws://" [(ngModel)]="socketUrl">
                </div>
            </div>
            <div class="card-action center-align">
                <button class="waves-effect waves-light btn indigo" (click)="conectar()" [disabled]="websocketIsOpen">
                    <i class="material-icons left">link</i>
                    Connect
                </button>
                <button class="waves-effect waves-light btn indigo" (click)="desconectar()" [disabled]="!websocketIsOpen">
                    <i class="material-icons left">highlight_off</i>
                    Disconnect
                </button>
            </div>
        </div>
    </div>
    <h4>Result:</h4>
    <div></div>
</div>